.header-bar {
    height: 140px;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-color: #64a2ff;
    align-items: center;
    background-position: center -30px; /* sposto il pattern 20px più in alto */

}


.logo {
    display: block;
    padding-top: 60px;
    padding-left: 5px;
     height: 60px;
}

.h1-font {
    font-size: 50px;
}

.article-meta {
    color: #444;
}
.author {
    color:#64a2ff;
    font-weight: 700;
}



.first-photo { 
    width : 600px; 
    height : 400px; 
} 
.second-photo { 
    width : 480px; height : 400px; 
}

.article-description2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    
}


.article-color-background {
    font-family: 'Times New Roman', Times, serif;
    color: #111;
    background-color: yellow;
    
}

.article-list ul {
  list-style: disc;
  padding-left: 15px; /* riduce lo spazio predefinito (default ≈ 40px) */
}
